<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>layui在线调试</title>
  <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
  <style>
    body{margin: 10px;}
    .demo-carousel{height: 200px; line-height: 200px; text-align: center;}
  </style>
  <style type="text/css">
    .search{
      display: inline-block;
      padding: 8px;
      width: 100px;
      border:1px solid #e6e6e6;
    }
    .topNav{
      margin-top: 40px;
      padding-left: 50px;
    }
  </style>
</head>
<body>
  <!-- <form name=”form” method="post" action="#"> -->
    <div class="topNav">
     <input id = 'tel' class="search" type="text" placeholder="卡号" name='tel' >
     <input id = 'weixin_name' class="search" type="text" placeholder="微信昵称" name='weixin_name'>
     <input id = 'realname' class="search" type="text" placeholder="真实姓名" name='realname' >
     <input id ='search' type="submit" class="layui-btn layui-btn-normal"  value="搜索">
    </div>
  <!-- </form> -->

<table class="layui-hide" id="demo" lay-filter="test"></table>
 
<!--<script type="text/html" id="barDemo">-->
  <!--<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>-->
  <!--<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>-->
  <!--<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
<!--</script>-->

<!-- 引入layu组件 -->
<script src="/static/layui/layui.js"></script>
<!-- 引入jQuery -->
<script src="/static/jquery-3.3.1/jquery-3.3.1.min.js"></script>
<script>
   
</script>



<!-- layui-table渲染 -->
<script>
layui.config({
  version: '1586046995308' //为了更新 js 缓存，可忽略
});
 
layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function(){
  var laydate = layui.laydate //日期
  ,laypage = layui.laypage //分页
  ,layer = layui.layer //弹层
  ,table = layui.table //表格
  ,carousel = layui.carousel //轮播
  ,upload = layui.upload //上传
  ,element = layui.element //元素操作
  ,slider = layui.slider //滑块

  //监听Tab切换
  element.on('tab(demo)', function(data){
    layer.tips('切换了 '+ data.index +'：'+ this.innerHTML, this, {
      tips: 1
    });
  });
  
  //执行一个 table 实例
  table.render({
    elem: '#demo'
    ,height: 420
    ,url: 'index' //数据接口
    ,title: '牦牛列表'
    ,method:'post'
    ,page: true //开启分页
    ,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
    ,totalRow: true //开启合计行
    ,cols: [[ //表头
      {type: 'checkbox', fixed: 'left'}
      ,{field: 'id', title: '编号', width:80, sort: true, fixed: 'left', totalRowText: '合计：'}
      ,{field: 'yaks_name', title: '牦牛名称', width:130}
      ,{field: 'yaks_tag', title: '耳标', width:120, }
      ,{field: 'adoption_tel', title: '认领用户手机号', width: 120}
      ,{field: 'herdsman_name', title: '指定专属牧民', width: 120}
      ,{field: 'task_name', title: '任务标题', width: 120}
      ,{field: 'task_detail', title: '任务详情', width: 120}
      ,{field: 'enclosure_url', title: '附件', width: 120}
      ,{field: 'finish', title: '完成时间', width: 120}
      ,{fixed: 'right', width: 165, align:'center', toolbar: '#barDemo'}
    ]]
  });

   //点击搜索按钮根据条件查询 layui-table数据重载
  $('#search').on('click',
      function () {
          if ( $('#tel').val() == '' && $('#realname').val() == '' && $('#weixin_name').val() == '') {
              layui.use('layer', function () {
                  var layer = layui.layer;
                  layer.open({
                      title: '提示消息'
                      ,content: '查询条件不能为空！'
                  });

              });
          } else {
            console.log('esle')
              //根据条件查询表格数据重新加载
              table.reload('demo',
                {
                  url:'layuireturn',
                  page: {curr:1},
                  where: {
                    tel: $('#tel').val(),
                    weixin_name: $('#weixin_name').val(),
                    realname:$('#realname').val(),
                  }
                },'data')
          }
      });
  
  //监听头工具栏事件
  table.on('toolbar(test)', function(obj){
    var checkStatus = table.checkStatus(obj.config.id)
    ,data = checkStatus.data; //获取选中的数据
    switch(obj.event){
      case 'add':
        layer.msg('添加');
      break;
      case 'update':
        if(data.length === 0){
          layer.msg('请选择一行');
        } else if(data.length > 1){
          layer.msg('只能同时编辑一个');
        } else {
          layer.alert('编辑 [id]：'+ checkStatus.data[0].id);
        }
      break;
      case 'delete':
        if(data.length === 0){
          layer.msg('请选择一行');
        } else {
          layer.msg('删除');
        }
      break;
    };
  });
  
  //监听行工具事件
  table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
    var data = obj.data //获得当前行数据
    ,layEvent = obj.event; //获得 lay-event 对应的值
    if(layEvent === 'detail'){
      layer.msg('查看操作');
    } else if(layEvent === 'del'){
      layer.confirm('真的删除行么', function(index){
         $.ajax({
                  url: "/deleteCollector",
                  type: "POST",
                  data: {eqptType: data.eqptType, eqptIdCode: data.eqptIdCode},
                  success: function (msg) {
                      if (msg == 200) {
                          obj.del(); //删除对应行（tr）的DOM结构
                          layer.close(index);
                          layer.msg("删除成功", {icon: 6});
                      } else {
                          layer.msg("删除失败", {icon: 5});
                      }
                  }
                });
                return false;
      });
    } else if(layEvent === 'edit'){
      layer.msg('编辑操作');
    }
  });
  
  //执行一个轮播实例
  carousel.render({
    elem: '#test1'
    ,width: '100%' //设置容器宽度
    ,height: 200
    ,arrow: 'none' //不显示箭头
    ,anim: 'fade' //切换动画方式
  });
  
  //将日期直接嵌套在指定容器中
  var dateIns = laydate.render({
    elem: '#laydateDemo'
    ,position: 'static'
    ,calendar: true //是否开启公历重要节日
    ,mark: { //标记重要日子
      '0-10-14': '生日'
      ,'2020-01-18': '小年'
      ,'2020-01-24': '除夕'
      ,'2020-01-25': '春节'
      ,'2020-02-01': '上班'
    } 
    ,done: function(value, date, endDate){
      if(date.year == 2017 && date.month == 11 && date.date == 30){
        dateIns.hint('一不小心就月底了呢');
      }
    }
    ,change: function(value, date, endDate){
      layer.msg(value)
    }
  });
  
  //分页
  laypage.render({
    elem: 'pageDemo' //分页容器的id
    ,count: 100 //总页数
    ,skin: '#1E9FFF' //自定义选中色值
    //,skip: true //开启跳页
    ,jump: function(obj, first){
      if(!first){
        layer.msg('第'+ obj.curr +'页', {offset: 'b'});
      }
    }
  });
  
  //上传
  upload.render({
    elem: '#uploadDemo'
    ,url: 'https://httpbin.org/post' //改成您自己的上传接口
    ,done: function(res){
      layer.msg('上传成功');
      layui.$('#uploadDemoView').removeClass('layui-hide').find('img').attr('src', res.files.file);
      console.log(res)
    }
  });
  
  //滑块
  var sliderInst = slider.render({
    elem: '#sliderDemo'
    ,input: true //输入框
  });
  
  //底部信息
  // var footerTpl = lay('#footer')[0].innerHTML;
  // lay('#footer').html(layui.laytpl(footerTpl).render({}))
  // .removeClass('layui-hide');
});
</script>
</body>
</html>        
        