<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="author" content="blog.anchen8.net" />

	{block name="title"}<title>后台管理系统</title>{/block}    
    {block name="css"}
    <link  rel="stylesheet" type="text/css" href="{$root}css/admin/global.css"/>
    <link  rel="stylesheet" type="text/css" href="{$root}files/layui/css/layui.css"/>
    {/block}    
    {block name="head-js"}
    <script src="{$root}js/jquery-3.2.1.min.js"></script>
    <script src="{$root}files/layui/layui.js"></script>
    {/block}
</head>

<body>
{block name="body"}


{/block}
{block name="foot-js"}{/block}
</body>
</html>